/* hp max-width: 600px */
*{
    box-sizing: border-box;
}
body{
    background-color: black;
}
img{
    width: 100%;
}
.padding-10 {
    padding: 10px;
}
/* clear float colum */
.row{
    clear: both;
}
/* tablet min widht: 600px */
@media screen and (min-width: 600px) {
    /* element selector body */
    body {
        background-color: yellow;
    }
    .col-md-50{
        width: 50%;
        float: left;
    }

    .col-lg-100{
        width: 100%;
    }
}

/* desktop min-width : 992px */
@media screen and (min-width: 992px) {
    /* element selector body */
    body {
        background-color: green;
    }

    /* class selector */
    .col-lg-25{
        width: 25%;
        float: left;
    }

    .col-lg-50{
        width: 50%;
        float: left;
    }

}